/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.calculator-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}



.border-container {
    padding: 2rem;
    margin: 2rem;
    min-height: 410px;
    border-radius: 10px;
    border-color: rgba(175, 175, 175, 0.3);
    background-color: #f5f5f5;
    box-shadow: 5px 5px 11px -7px rgba(0,0,0,0.36);
-webkit-box-shadow: 5px 5px 11px -7px rgba(0,0,0,0.36);
-moz-box-shadow: 5px 5px 11px -7px rgba(0,0,0,0.36);
}


input[type="text"],
input[type="number"],
.input-calculator {
    width: 14rem;
    padding: 0.5rem;
    margin: 0rem;
    font-weight: bold;
    border-radius: 5px;
    
}

input[type="number"] {
    width: 10rem !important;
    background-color: rgba(255, 255, 255,0.5);
    border: 2px inset rgba(255, 252, 56, 0.3);
}


::placeholder {
    color: #55555563;
}

.input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    margin: 1rem 0 1rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px -7px rgba(0,0,0,0.36);
-webkit-box-shadow: 2px 2px 10px -7px rgba(0,0,0,0.36);
-moz-box-shadow: 2px 2px 10px -7px rgba(0,0,0,0.36);
}


.font-calculator {
    margin-bottom: 0rem;
    color: #1f1f1f;
    text-align: initial;
    width: 200px;
    margin: 0.5rem;
    font-size: 1.5rem;
}


.font-calculator-end {
    margin-bottom: 0rem;
    color: #1f1f1f;
    text-align: initial;
    margin: 0.5rem;
}

.font-bolded {
    font-size: 1.8rem;
    font-weight: bolder;
    color: black;
}

.backgroundLightYellow {
    background-color: rgba(255, 252, 56, 0.2);
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(255, 252, 56, 0.6);
}



.backgroundLightblue {
    background-color: rgba(30, 136, 229, 0.2);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(30, 136, 229, 0.2);
}

.backgroundLightGreen {
    background-color: rgba(67, 160, 71, 0.2);
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(67, 160, 71, 0.2);
}

.backgroundGreen {
    background-color: rgba(67, 160, 71, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(67, 160, 71, 0.2);
}


.chart-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 5%
}

.chart-container-ex {
    height: 350px !important;
    width: 700px !important;
    margin: 4rem;
}


@media only screen and (max-width: 600px) { 

    .font-calculator{
        width: 155px;
    }
   
    input[type="text"], input[type="number"], .input-calculator {
        width: 14rem;
    }

    input[type="number"] {
        width: 12rem !important;
    }
    
    .chart-container-ex {
        height: 300px;
        width: 350px;
    }

}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}